#lgList {
    flex-direction: row;
    flex-wrap: true;

}

.eventElem {
    display: inline-block;
    border-style: groove;
    border-width: 2px;
    margin: 10px;
    padding: 5px;
}

.eventElem:hover {
    box-shadow: -10px 10px 3pt 2pt grey;
}


